<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>        
        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_steering_joint">
            <command_interface name="position">
                <param name="min">${-steering_limit_angle}</param>
                <param name="max">${steering_limit_angle}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="right_steering_joint">
            <command_interface name="position">
                <param name="min">${-steering_limit_angle}</param>
                <param name="max">${steering_limit_angle}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="front_right_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="front_left_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>        
        <joint name="lidar_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find description_bauda_akm)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>